



 .services{
     text-align: center;

 }
 .service{
     float:left;
    width: 20%;
    text-align: center;
 }
 .clear{
    clear: both;
 }
i{
    background-color:orange;
    color: white;
}